<div class="container">
  <ul>
    <li (click)="getHome()">Home</li>
    <li (click)="toggleSubMenu('category')">Genres</li>
    <li (click)="toggleSubMenu('pc-games')">💻PC Games</li>
    <li (click)="toggleSubMenu('browser-games')">🌐Browser Games</li>
    <li (click)="toggleSubMenu('search')">Search</li>
  </ul>
  <div class="container-submenu">

    @if (isSubMenuOpen('category')) {

    <div class="submenu">
      <ul>
        @for (item of genreArray; track $index) {
        <li (click)="fetchGenreTag(item)" >{{ item }}</li>
        }
      </ul>
      <!-- Additional category menu options -->
      <div class="box"></div>
    </div>

    } 

    @if (isSubMenuOpen('search')) {

    <div class="submenu">
      <ul>
        <li>1ere</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
      </ul>
      <div class="box"></div>
    </div>

    }
  </div>
</div>
