* {
    cursor: pointer;
}

.container {
    height: max-content;
    transition: height 2s ease;
    animation: expand 2s ease;

    width: 100%;
    // border-bottom: 1px solid grey;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        width: 100%;
    }

    .container-submenu {
        .submenu {
            animation: skew 1s forwards;
            position: relative;
            margin-top:20px;
           .box{
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5); /* Bottom shadow */
            height:1px;
            width: 100%;
            // border:1px solid rgba(0, 0, 0, 0.5);
           }
            ul {
                display: flex;
                justify-content: center;
                gap:100px;
                // width: 40%;

                li {
                    width: 100px;
                    height: 100px;
                    background: grey;
                }
            }
        }
    }

}



@keyframes expand {

    0% {
        box-shadow: none;
    }


    100% {

    }
}


@keyframes skew {
    0% {
        transform: skewX(-20deg);
        opacity: 0;
    }

    100% {
        transform: skewX(0deg);
        opacity: 1;

    }
}