<div class="container">
  <ul>
    <li (click)="getHome()">Home</li>
    <li (click)="toggleSubMenu('category')">Genres</li>
    <li (click)="toggleSubMenu('pc-games')">💻PC Games</li>
    <li (click)="toggleSubMenu('browser-games')">🌐Browser Games</li>
    <li (click)="toggleSubMenu('search')">Search</li>
  </ul>
  <div class="container-submenu">
    @if (isSubMenuOpen('category')) {

    <div class="submenu">
      <ul>
        @for (item of genreArray; track $index) {
        <li (click)="fetchGenreTag(item)">{{ item }}</li>
        }
      </ul>
      <!-- Additional category menu options -->
    </div>

    } @if (isSubMenuOpen('search')) {

    <div class="submenu">
      <div class="center">
        <input #searchInput type="text" placeholder="Search" autofocus="true" />
        <button>Search</button>
      </div>
    </div>

    }
  </div>
</div>
